<%= form_for @person do |f| %>
  <%= f.error_messages %>
  <p>
    <%= f.label :name %><br />
    <%= f.text_field :name %>
  </p>
  <p>
    <%= f.label :email %><br />
    <%= f.text_field :email %>
  </p>
  <p>
    <%= f.label :level_id %><br />
    <%= f.number_field :level_id %>
  </p>
  <p>
    <%= f.label :organization_id %><br />
    <%= f.number_field :organization_id %>
  </p>
  <p>
    <%= f.label :active %><br />
    <%= f.check_box :active %>
  </p>
  <p>
    <%= f.label :information %><br />
    <%= f.text_area :information %>
  </p>
  <p><%= f.submit %></p>
<% end %>
