<% title "People" %>

<table>
  <tr>
    <th>Name</th>
    <th>Email</th>
    <th>Level</th>
    <th>Organization</th>
    <th>Active</th>
    <th>Information</th>
  </tr>
  <% for person in @people %>
    <tr>
      <td><%= person.name %></td>
      <td><%= person.email %></td>
      <td><%= person.level_id %></td>
      <td><%= person.organization_id %></td>
      <td><%= person.active %></td>
      <td><%= person.information %></td>
      <td><%= link_to "Show", person %></td>
      <td><%= link_to "Edit", edit_person_path(person) %></td>
      <td><%= link_to "Destroy", person, :confirm => 'Are you sure?', :method => :delete %></td>
    </tr>
  <% end %>
</table>

<p><%= link_to "New Person", new_person_path %></p>
