= simple_form_for @document do |f|
  = f.input :name
  = f.input :description
  = f.input :purpose
  %h4 Operations
  = link_to "Open", '#', id: 'open-operations'
  #operations
    = f.simple_fields_for :operations do |p|
      = render 'operation_fields', f: p
    = link_to_add_fields "Add operation", f, :operations, class: 'btn btn-small btn-primary add-operation'
  = f.input :metrics
  = f.submit 'Save', class: 'btn'
