= simple_form_for @document do |f|
  = f.input :name
  = f.input :description
  = f.input :purpose
  = f.simple_fields_for :operations do |p|
    = p.input :name
    = p.input :goal
    = p.input :worker

    = p.simple_fields_for :connections do |q|
      = render 'connections/form', f: q

    = p.input :steps
    = p.input :exceptions
  = f.input :metrics
  = f.submit 'Save'
