.fields.operation
  = f.hidden_field :document_id
  = f.input :name, wrapper_html: { class: 'name_input' }
  = f.input :rank, input_html: { placeholder: '1' }, wrapper_html: { class: 'rank_input' }
  = f.input :goal
  = f.input :worker

  %h4 Input/outputs
  = f.simple_fields_for :connections do |p|
    = render 'connection_fields', f: p
  = link_to_add_fields "Add input/output", f, :connections, class: 'btn btn-small btn-blue add_inoutput'

  = f.input :steps, as: :ckeditor, input_html: { ckeditor: { toolbar: 'ImagesAndTables' } }
  = f.input :exceptions

  = link_to_remove_fields "Remove operation", f, class: 'btn btn-small btn-danger'