.document
  %h2
    = @document.name
  %h4 Description:
  %p
    = @document.description
  %h4 Purpose:
  %p
    = @document.purpose

  %h3 Operations:
  #operations
    = render @document.operations.order :rank

  %h4 Metrics:
  %p
    = @document.metrics

  = link_to 'Edit', edit_document_path(@document)
  \|
  = link_to 'Back', documents_path
